<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h2>Agregar Tipo de Gasto</h2>
    
    <form method="post" class="d-grid gap-3 w-75 justify-content-center">
        <div class="d-grid gap-1">
            <label for="nombre">Nombre del Gasto</label>
            <input type="text" name="nombre" id="nombre">

        </div>
        <div class="d-grid gap-1">
            <label for="descripcion">Descripcion</label>
            <textarea type="text" name="descripcion" id="descripcion"></textarea>
        </div>
        
        <button type="submit" class="btn-primary">Agregar</button>
    </form>
</div>
</body>
</html>